<div class="bs4-selectbox-container">
    <span class="dropdown-toggle form-control d-flex" href="javascript:void(0)"
       role="button" id="bs4-selectbox-{{ bs4SelectboxCtrl.uuid }}" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">

        <span class="choices" ng-if="bs4SelectboxCtrl.multiple">
            <span class="badge badge-secondary p-2 mr-2 d-inline-flex align-items-center"
                  ng-repeat="item in bs4SelectboxCtrl.model">
                <span ng-transclude></span>
                <span class="badge-close" ng-click="bs4SelectboxCtrl.deselect($event, item);">✕</span>
            </span>
        </span>

        <span ng-if="!bs4SelectboxCtrl.multiple" ng-transclude>
        </span>

        <input type="text" class="select-input flex-grow-1"
               ng-model="bs4SelectboxCtrl.search"
               ng-change="bs4SelectboxCtrl.change($event);"
               ng-keydown="bs4SelectboxCtrl.keydown($event);" />
    </span>
    <div class="dropdown-menu" aria-labelledby="bs4-selectbox-{{ bs4SelectboxCtrl.uuid }}">
        <a class="dropdown-item" href="javasctipt:void(0)"
           ng-repeat="item in bs4SelectboxCtrl.options | filter:bs4SelectboxCtrl.available"
           ng-click="bs4SelectboxCtrl.select($event, item);"
           ng-transclude>
        </a>
    </div>
</div>