.bs4-selectbox-container {
    cursor: text;
    vertical-align: baseline;
    position: relative;
}

.bs4-selectbox-container .dropdown-toggle  {
    position: relative;
    overflow-x: auto;
}

.bs4-selectbox-container .bs4-select-input {
    display: block;
}

.bs4-selectbox-container .bs4-choices .bs4-badge {
    white-space: nowrap;
}

.bs4-selectbox-container .bs4-choices .badge-close {
    margin-left: 1em;
    margin-right: 0.5em;
    cursor: pointer;
}

.bs4-selectbox-container .dropdown-menu {
    max-height: 20em;
    overflow-y: auto;
}

.bs4-single-container {
    flex-basis: 0;
    min-width: 0;
}

.bs4-selectbox-toggle {
    min-height: calc(2.25rem + 2px);
}